02_workflow_orchestration/02_gc_flow.yaml
id: 02_gcp_scheduled
namespace: healthcare
description: |
  The CSV Data: https://github.com/Kabalkina/healthcare_project/tree/main/data
  CSV uses `;` as separator.

variables:
  file: "23131-0002_en_{{trigger.date | date('yyyy')}}.csv"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.file}}"
  table: "{{kv('GCP_DATASET')}}.healthcare_data_staging_{{trigger.date | date('yyyy')}}"
  data: "{{outputs.extract.outputFiles['healthcare_data_' ~ (trigger.date | date('yyyy')) ~ '.csv']}}"

tasks:

  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO "healthcare_data_{{trigger.date | date('yyyy')}}.csv" https://raw.githubusercontent.com/Kabalkina/healthcare_project/main/data/{{render(vars.file)}}

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{render(vars.data)}}"
    to: "{{render(vars.gcs_file)}}"

  - id: bq_healthcare_data
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE TABLE IF NOT EXISTS `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.healthcare_data`
      (
              unique_row_id BYTES OPTIONS (description = 'A unique identifier for the trip, generated by hashing key trip attributes.'),
              filename STRING OPTIONS (description = 'The source filename from which the trip data was loaded.'),
              statistics_code INTEGER,
              statistics_label STRING,
              time_code STRING,
              time_label STRING,
              time INTEGER,
              `1_variable_code` STRING,
              `1_variable_label` STRING,
              `1_variable_attribute_code` STRING,
              `1_variable_attribute_label` STRING,
              `2_variable_code` STRING,
              `2_variable_label` STRING,
              `2_variable_attribute_code` STRING,
              `2_variable_attribute_label` STRING,
              `3_variable_code` STRING,
              `3_variable_label` STRING,
              `3_variable_attribute_code` STRING,
              `3_variable_attribute_label` STRING,
              `4_variable_code` STRING,
              `4_variable_label` STRING,
              `4_variable_attribute_code` STRING,
              `4_variable_attribute_label` STRING,
              value INTEGER,
              value_unit STRING,
              value_variable_code STRING,
              value_variable_label STRING
      );

  - id: bq_healthcare_table_ext
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE EXTERNAL TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`
      (
              statistics_code INTEGER,
              statistics_label STRING,
              time_code STRING,
              time_label STRING,
              time INTEGER,
              `1_variable_code` STRING,
              `1_variable_label` STRING,
              `1_variable_attribute_code` STRING,
              `1_variable_attribute_label` STRING,
              `2_variable_code` STRING,
              `2_variable_label` STRING,
              `2_variable_attribute_code` STRING,
              `2_variable_attribute_label` STRING,
              `3_variable_code` STRING,
              `3_variable_label` STRING,
              `3_variable_attribute_code` STRING,
              `3_variable_attribute_label` STRING,
              `4_variable_code` STRING,
              `4_variable_label` STRING,
              `4_variable_attribute_code` STRING,
              `4_variable_attribute_label` STRING,
              value INTEGER,
              value_unit STRING,
              value_variable_code STRING,
              value_variable_label STRING
      )
      OPTIONS (
          format = 'CSV',
          field_delimiter = ';',
          uris = ['{{render(vars.gcs_file)}}'],
          skip_leading_rows = 1,
          ignore_unknown_values = TRUE
      );

  - id: bq_healthcare_table_tmp
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}`
      AS
      SELECT
        MD5(CONCAT(
          COALESCE(CAST(time AS STRING), ""),
          COALESCE(CAST(`1_variable_attribute_label` AS STRING), ""),
          COALESCE(CAST(`2_variable_attribute_label` AS STRING), ""),
          COALESCE(CAST(`3_variable_attribute_label` AS STRING), ""),
          COALESCE(CAST(`4_variable_attribute_label` AS STRING), "")
        )) AS unique_row_id,
        "{{render(vars.file)}}" AS filename,
        *
      FROM `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`;

  - id: bq_merge
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      MERGE INTO `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.healthcare_data` T
      USING `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}` S
      ON T.unique_row_id = S.unique_row_id
      WHEN NOT MATCHED THEN
        INSERT (unique_row_id, filename, statistics_code, statistics_label, time_code, time_label, time, `1_variable_code`, `1_variable_label`, `1_variable_attribute_code`, `1_variable_attribute_label`, `2_variable_code`, `2_variable_label`, `2_variable_attribute_code`, `2_variable_attribute_label`, `3_variable_code`, `3_variable_label`, `3_variable_attribute_code`, `3_variable_attribute_label`, `4_variable_code`, `4_variable_label`, `4_variable_attribute_code`, `4_variable_attribute_label`, value, value_unit, value_variable_code, value_variable_label)
        VALUES (S.unique_row_id, S.filename, S.statistics_code, S.statistics_label, S.time_code, S.time_label, S.time, S.`1_variable_code`, S.`1_variable_label`, S.`1_variable_attribute_code`, S.`1_variable_attribute_label`, S.`2_variable_code`, S.`2_variable_label`, S.`2_variable_attribute_code`, S.`2_variable_attribute_label`, S.`3_variable_code`, S.`3_variable_label`, S.`3_variable_attribute_code`, S.`3_variable_attribute_label`, S.`4_variable_code`, S.`4_variable_label`, S.`4_variable_attribute_code`, S.`4_variable_attribute_label`, S.value, S.value_unit, S.value_variable_code, S.value_variable_label);

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: To avoid cluttering your storage, we will remove the downloaded files

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"

triggers:
  - id: schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 9 1 * *"
